<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="file" value="H:/log.out" />
		<param name="threshold" value="debug" />
		<param name="append" value="true" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%-5p %d{dd-MMM-yyyy HH:mm:ss,SSS} [%t]  %c %x  %M - %m%n" />
		</layout>
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd-MMM-yyyy HH:mm:ss,SSS} [%t]  %c %x %M - %m%n " />
		</layout>
	</appender>


	<logger name="com.sanjivniseva" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
		<appender-ref ref="console" />
	</logger>

</log4j:configuration>